* {
    -fx-font-family: "Roboto";
}

#moodContainer {
    -fx-background-color: "#FFF6EA";
}

#moodTitle {
    -fx-text-fill: "#bf9270";
    -fx-font-size: 30px;
}

#journalTitle {
    -fx-text-fill: "#bf9270";
    -fx-font-size: 30px;
}

#journalContainer {
    -fx-background-color: "#FFF6EA";
}

#historyContainer {
    -fx-background-color: "#FFF6EA";
}