.btns {
    -fx-background-color:#32328E;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
}

.btns:hover {
    -fx-background-color: #1e025f;
    -fx-scale-y: 1.1;
    -fx-cursor: hand;
}

.btns:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.input {
    -fx-focus-color: #32328E;
}

.icons {
    -fx-fill: #32328E;
}