* {
    -fx-font-family: "Lucida Grande";
}

#moodContainer {
    -fx-background-color: white;
}

#moodTitle {
    -fx-text-fill: "#bf9270";
    -fx-font-size: 30px;
}

#journalTitle {
    -fx-text-fill: "#bf9270";
    -fx-font-size: 30px;
}

#journalContainer {
    -fx-background-color: white;
}

#historyContainer {
    -fx-background-color: white;
}