
#headerMenu {
 -fx-font-family: "Optima Regular";
}

#moodContainer {
    -fx-background-color: white;
}

#moodTitle {
    -fx-font-family: "Lucida Grande";
    -fx-text-fill: black;
    -fx-font-size: 30px;
}

#moodLabel{
-fx-font-family: "Lucida Grande";
    -fx-text-fill: black;
    -fx-font-size: 24px;
}

#tensionLabel{
-fx-font-family: "Lucida Grande";
    -fx-text-fill: black;
    -fx-font-size: 24px;
}

#journalTitle {
    -fx-font-family: "Lucida Grande";
    -fx-text-fill: black;
    -fx-font-size: 30px;
}

#journalContainer {
    -fx-background-color: white;
}

#historyContainer {
    -fx-background-color: white;
}