
#appName {
    -fx-font-family: "Optima";
}
#background {
    --fx-background-color: white;
}
#title {
    -fx-font-family: "Lucida Grande";
    -fx-background-color: white;
    -fx-font-size: 20px;
}

#formContainer {
    -fx-background-color: white;
}

#header {
    -fx-background-color: "#32328E";
}
